<!DOCTYPE html>
<html>
<head>
	<title>Login app</title>
	<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>